@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The web application is a portal meant for student registration and course enrollment. The university could enable the course enrollment for a limited duration during which registered students could login and enroll for their courses. The business logic involved would restrict students from enrolling to courses that did not align with the student's degree. The portal also provides feedback when student registered for courses with conflicting times and when reached max allowed courses per student. The portal also required to store personal and sensitive student information.

</p>
