@{
    ViewBag.Title = "Registration App";
}

<div class="jumbotron">
    <h1>Registration App</h1>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Log-In</a></p>
</div>

<div>
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of courses", "Index", "Cours")<br />
    @Html.ActionLink("List of professors", "Index", "Professors")<br />
</div>
